@page "/about/"
@model Artemis.Pages.AboutModel

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Artemis</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="Artemis.styles.css" rel="stylesheet" />
</head>
<body>
    <p style="font-size: larger">
        Artemis, Version 0.1.0
    </p>
    <p style="font-size: larger">
        .NET 6.0 - Preview 6
    </p>
    <p style="font-size: larger">
        ASP.NET 6.0 - Preview 6
    </p>
    <p style="font-size: larger">
        Entity Framework Core 6.0 - Preview 6
    </p>
    <p style="font-size: larger">
        NuGet CLI 5.10.0
    </p>

    <p style="font-size: larger">
        License: Affero General Public License, v3
    </p>
    <p style="font-size: larger">
        Source code: <a href="https://github.com/ExaInsanity/Artemis">GitHub</a>
    </p>
    <p style="font-size: larger">
        Copyright © 2021 Iris Féanorá
    </p>
</body>
