@page "/about"

<p style="font-size: larger">
    Artemis, Version 0.1.0
</p>
<p style="font-size: larger">
    .NET 6.0 - Preview 6
</p>
<p style="font-size: larger">
    ASP.NET 6.0 - Preview 6
</p>
<p style="font-size: larger">
    Entity Framework Core 6.0 - Preview 6
</p>
<p style="font-size: larger">
    NuGet CLI 5.10.0
</p>

<p style="font-size: larger">
    License: Affero General Public License, v3
</p>
<p style="font-size: larger">
    Source code: <a href="https://github.com/ExaInsanity/Artemis">GitHub</a>
</p>
<p style="font-size: larger">
    Copyright © 2021 Iris Féanorá
</p>
