@page "/"
@inject NavigationManager NavigationManager

<h1>Build your apps faster, using NuGet</h1>

<h3 style="text-align: center; margin-top: 3.5em">
    This NuGet package feed is hosted by Artemis and hosts [TODO: calculate total packages and package versions].
</h3>


